In [1]:
# coding:utf-8
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn import ensemble, metrics
from datetime import datetime as dt
from sklearn.preprocessing import LabelEncoder


# pandas
import pandas as pd
pd.set_option("display.max_rows", 100)
pd.set_option("display.max_colwidth", 100)

# LightGBM
import lightgbm as lgb
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

# 交差検証
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score
from sklearn.metrics import mean_squared_error

# AUC
from sklearn.metrics import roc_auc_score
import matplotlib.pyplot as plt

/Users/toshiki/py37env/lib/python3.7/site-packages/lightgbm/__init__.py:46: UserWarning: Starting from version 2.2.1, the library file in distribution wheels for macOS is built by the Apple Clang (Xcode_8.3.3) compiler.
This means that in case of installing LightGBM from PyPI via the ``pip install lightgbm`` command, you don't need to install the gcc compiler anymore.
Instead of that, you need to install the OpenMP library, which is required for running LightGBM on the system with the Apple Clang compiler.
You can install the OpenMP library by the following command: ``brew install libomp``.
  "You can install the OpenMP library by the following command: ``brew install libomp``.", UserWarning)

In [2]:
purchase_df = pd.read_csv('../input/purchase_record.csv')
user_df = pd.read_csv('../input/user_info.csv')
test_df = pd.read_csv('../input/purchase_record_test.csv')

In [3]:
purchase_df.shape

(1803574, 14)

In [4]:
purchase_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1803574 entries, 0 to 1803573
Data columns (total 14 columns):
user_id        object
purchase_id    object
date           object
product_id     object
parts_1        object
parts_2        object
parts_3        object
parts_4        object
parts_5        object
parts_6        object
parts_7        object
parts_8        object
parts_9        object
purchase       int64
dtypes: int64(1), object(13)
memory usage: 192.6+ MB

In [5]:
purchase_df.head()

,user_id,purchase_id,date,product_id,parts_1,parts_2,parts_3,parts_4,parts_5,parts_6,parts_7,parts_8,parts_9,purchase
0,uid_100,pid_0000000000,2017-09-27,product 2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
1,uid_100,pid_0000000001,2017-09-27,product 2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
2,uid_100002,pid_0000000002,2017-11-23,product 2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
3,uid_100002,pid_0000000003,2017-11-23,product 2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
4,uid_100003,pid_0000000004,2018-02-07,product 2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1

In [6]:
purchase_df.fillna(0, inplace=True)

In [7]:
purchase_df.purchase.value_counts()

0    928044
1    875530
Name: purchase, dtype: int64

In [8]:
user_df.shape

(189114, 32)

In [9]:
user_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 189114 entries, 0 to 189113
Data columns (total 32 columns):
user_id         189114 non-null object
date            189114 non-null object
attribute_1     189114 non-null object
attribute_2     189114 non-null object
attribute_3     189114 non-null object
attribute_4     189114 non-null bool
attribute_5     189114 non-null bool
attribute_6     189114 non-null bool
attribute_7     189114 non-null bool
attribute_8     189114 non-null bool
attribute_9     189114 non-null bool
attribute_10    189114 non-null bool
attribute_11    189114 non-null bool
attribute_12    189114 non-null bool
attribute_13    189114 non-null bool
attribute_14    189114 non-null bool
attribute_15    189114 non-null bool
attribute_16    189114 non-null bool
attribute_17    189114 non-null bool
attribute_18    189114 non-null bool
attribute_19    189114 non-null bool
attribute_20    189114 non-null bool
attribute_21    189114 non-null bool
attribute_22    189114 non-null bool
attribute_23    189114 non-null bool
attribute_24    189114 non-null bool
attribute_25    189114 non-null bool
attribute_26    189114 non-null bool
attribute_27    189114 non-null bool
attribute_28    189114 non-null bool
attribute_29    189114 non-null bool
attribute_30    189114 non-null bool
dtypes: bool(27), object(5)
memory usage: 12.1+ MB

In [10]:
user_df.head()

,user_id,date,attribute_1,attribute_2,attribute_3,attribute_4,attribute_5,attribute_6,attribute_7,attribute_8,...,attribute_21,attribute_22,attribute_23,attribute_24,attribute_25,attribute_26,attribute_27,attribute_28,attribute_29,attribute_30
0,uid_100,2016-06-29,id 5,id 5,id 5,True,False,False,True,True,...,True,False,True,True,False,False,True,True,True,False
1,uid_100002,2016-01-06,id 28,id 9,id 5,False,False,True,True,False,...,False,False,True,True,True,True,True,True,True,False
2,uid_100003,2017-06-10,id 4,id 8,id 5,True,True,True,True,True,...,True,False,False,True,True,True,True,False,True,True
3,uid_100004,2017-07-20,id 40,id 25,id 9,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
4,uid_100006,2017-07-27,id 40,id 25,id 9,False,False,False,False,False,...,False,False,False,True,False,False,False,True,True,False

In [11]:
test_df.head()

,user_id,purchase_id,date,product_id,parts_1,parts_2,parts_3,parts_4,parts_5,parts_6,parts_7,parts_8,parts_9
0,uid_100,pid_0001803575,2018-08-26,product 4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,uid_100,pid_0001803576,2018-08-04,product 2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,uid_100,pid_0001803577,2018-08-26,product 2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,uid_100,pid_0001803578,2018-08-04,product 4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,uid_100003,pid_0001803579,2018-08-02,product 2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

**学習データ・テストデータを結合**

In [12]:
# data_yに目的変数を代入
y_train = purchase_df['purchase']
# data_yの表示
print( y_train )

# data_Xに説明変数を代入
X_train = purchase_df.drop('purchase', axis=1)
# data_Xの表示
print( X_train )

0          0
1          0
2          1
3          1
4          1
          ..
1803569    1
1803570    1
1803571    1
1803572    1
1803573    1
Name: purchase, Length: 1803574, dtype: int64
            user_id     purchase_id        date product_id parts_1 parts_2  \
0           uid_100  pid_0000000000  2017-09-27  product 2       0       0
1           uid_100  pid_0000000001  2017-09-27  product 2       0       0
2        uid_100002  pid_0000000002  2017-11-23  product 2       0       0
3        uid_100002  pid_0000000003  2017-11-23  product 2       0       0
4        uid_100003  pid_0000000004  2018-02-07  product 2       0       0
...             ...             ...         ...        ...     ...     ...
1803569   uid_99994  pid_0001803569  2018-06-16  product 4       0       0
1803570   uid_99994  pid_0001803570  2018-03-30  product 4       0       0
1803571   uid_99994  pid_0001803571  2018-01-19  product 2       0       0
1803572   uid_99994  pid_0001803572  2018-05-02  product 4       0       0
1803573   uid_99994  pid_0001803573  2018-06-15  product 2       0       0

        parts_3 parts_4 parts_5 parts_6 parts_7 parts_8 parts_9
0             0       0       0       0       0       0       0
1             0       0       0       0       0       0       0
2             0       0       0       0       0       0       0
3             0       0       0       0       0       0       0
4             0       0       0       0       0       0       0
...         ...     ...     ...     ...     ...     ...     ...
1803569       0       0       0       0       0       0       0
1803570       0       0       0       0       0       0       0
1803571       0       0       0       0       0       0       0
1803572       0       0       0       0       0       0       0
1803573       0       0       0       0       0       0       0

[1803574 rows x 13 columns]

In [13]:
all_df = pd.concat([X_train, test_df])

In [14]:
all_df = pd.merge(all_df, user_df, how='left', on='user_id')

In [15]:
all_df.head()

,user_id,purchase_id,date_x,product_id,parts_1,parts_2,parts_3,parts_4,parts_5,parts_6,...,attribute_21,attribute_22,attribute_23,attribute_24,attribute_25,attribute_26,attribute_27,attribute_28,attribute_29,attribute_30
0,uid_100,pid_0000000000,2017-09-27,product 2,0,0,0,0,0,0,...,True,False,True,True,False,False,True,True,True,False
1,uid_100,pid_0000000001,2017-09-27,product 2,0,0,0,0,0,0,...,True,False,True,True,False,False,True,True,True,False
2,uid_100002,pid_0000000002,2017-11-23,product 2,0,0,0,0,0,0,...,False,False,True,True,True,True,True,True,True,False
3,uid_100002,pid_0000000003,2017-11-23,product 2,0,0,0,0,0,0,...,False,False,True,True,True,True,True,True,True,False
4,uid_100003,pid_0000000004,2018-02-07,product 2,0,0,0,0,0,0,...,True,False,False,True,True,True,True,False,True,True

In [16]:
all_df.shape
all_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2018615 entries, 0 to 2018614
Data columns (total 44 columns):
user_id         object
purchase_id     object
date_x          object
product_id      object
parts_1         object
parts_2         object
parts_3         object
parts_4         object
parts_5         object
parts_6         object
parts_7         object
parts_8         object
parts_9         object
date_y          object
attribute_1     object
attribute_2     object
attribute_3     object
attribute_4     bool
attribute_5     bool
attribute_6     bool
attribute_7     bool
attribute_8     bool
attribute_9     bool
attribute_10    bool
attribute_11    bool
attribute_12    bool
attribute_13    bool
attribute_14    bool
attribute_15    bool
attribute_16    bool
attribute_17    bool
attribute_18    bool
attribute_19    bool
attribute_20    bool
attribute_21    bool
attribute_22    bool
attribute_23    bool
attribute_24    bool
attribute_25    bool
attribute_26    bool
attribute_27    bool
attribute_28    bool
attribute_29    bool
attribute_30    bool
dtypes: bool(27), object(17)
memory usage: 329.2+ MB

**特徴量生成**
* product_idをfrequency_encoding 
* user_idをfrequency_encoding
* 顧客情報登録日から購入検討日までの日にち
* 購入日or顧客情報登録日は2015/1/1から何日経っているか
* 商品毎の悩まれる時間の統計量(PC毎の検討時間の長さ)
* ユーザー毎の悩まれる時間の統計量

In [17]:
# product_idをfrequency_encodingする
grouped_product_id = all_df.groupby("product_id").size().reset_index(name='product_id_counts') # 出現回数を計算
# もとのデータセットにカテゴリーをproduct_idとして結合
all_df = all_df.merge(grouped_product_id, how = "left", on = "product_id")
all_df["product_id_frequency"] = all_df["product_id_counts"] / all_df["product_id_counts"].count()
#product_idを削除する
# train_df = train_df.drop('product_id_counts', axis=1)

# ユーザーの出現回数(検討回数)列をfrequency_encodingで追加
grouped_user_id = all_df.groupby("user_id").size().reset_index(name='user_id_counts') # 出現回数を計算
# もとのデータセットにカテゴリーをuser_idとして結合
all_df = all_df.merge(grouped_user_id, how = "left", on = "user_id")
all_df["user_id_frequency"] = all_df["user_id_counts"] / all_df["user_id_counts"].count()
# train_df = train_df.drop('product_id_counts', axis=1)

# データ開始から何日経っているかを表す列を追加date_x
all_df['date_x_days'] = np.nan # 欠損値で埋める
all_df['date_x_days'] = all_df.index.values # インデックス値を使用
all_df['date_x_days'] = pd.to_datetime(all_df['date_x']) # 日付データにリフォーマット
all_df['date_x_days'] = all_df['date_x_days'] - dt(2015,1,1)
all_df['date_x_days'] = all_df['date_x_days'].dt.days
# データ開始から何日経っているかを表す列を追加date_y
all_df['date_y_days'] = np.nan # 欠損値で埋める
all_df['date_y_days'] = all_df.index.values # インデックス値を使用
all_df['date_y_days'] = pd.to_datetime(all_df['date_y']) # 日付データにリフォーマット
all_df['date_y_days'] = all_df['date_y_days'] - dt(2015,1,1)
all_df['date_y_days'] = all_df['date_y_days'].dt.days
# 日付列削除
all_df = all_df.drop('date_x', axis=1)
all_df = all_df.drop('date_y', axis=1)

# 顧客属性登録日から購入検討日までの検討時間列を追加
all_df['days_y_minus_x'] = np.nan # 欠損値で埋める
all_df['days_y_minus_x'] = all_df.index.values # インデックス値を使用
all_df['days_y_minus_x'] = all_df['date_x_days'] - all_df['date_y_days']

# 商品毎の悩まれる時間の統計量(PC毎の検討時間の長さ)
# grouped_product_id = all_df.groupby("product_id").size().reset_index(name='product_id_counts') # 出現回数を計算
# all_df.groupby("product_id").size().reset_index(name='product_id_counts')
grouped_product_id_time = all_df.groupby("product_id").mean().product_id_counts.reset_index(name='product_id_time_mean')
# もとのデータセットにカテゴリーをproduct_idとして結合
all_df = all_df.merge(grouped_product_id_time, how = "left", on = "product_id")

# ユーザー毎の悩まれる時間の統計量
grouped_user_id_time = all_df.groupby("user_id").mean().days_y_minus_x.reset_index(name='user_id_time_mean')
# もとのデータセットにカテゴリーをproduct_idとして結合
all_df = all_df.merge(grouped_user_id_time, how = "left", on = "user_id")

# user_idを削除する
all_df = all_df.drop('user_id', axis=1)

KeyboardInterrupt:

In [ ]:
all_df.head()

In [ ]:
all_df.info()

In [ ]:
all_df.shape

In [ ]:
all_df.isnull().sum().sum()

In [ ]:
%%time
# train = pd.get_dummies(train_df, drop_first=True)
all = pd.get_dummies(all_df, columns=['product_id', 'attribute_1', 'attribute_2', 'attribute_3', 'parts_1', 'parts_2', 'parts_3', 'parts_4', 'parts_5', 'parts_6', 'parts_7', 'parts_8', 'parts_9'], drop_first=True)
all = all * 1
all = all.set_index('purchase_id')
# train = pd.get_dummies(train_df, columns!=['purchase_id', 'purchase'], drop_first=True)

In [ ]:
all.head()

In [ ]:
all.info()

**学習データ・テストデータに分割**

In [ ]:
# X_trainに説明変数を代入
X_train = all[:1803574]

# y_trainに目的変数を代入
# y_train = y_train

# テストデータ作成
test = all[1803574:]

In [ ]:
# data_Xの表示
X_train.tail()

In [ ]:
# data_yの表示
test.head()

In [ ]:
%%time
# 5分割交差検証を指定し、インスタンス化
n_splits = 5
kf = KFold(n_splits, shuffle=True)

# スコアとモデルを格納するリスト
score_list = []
models = []

for fold_, (train_index, valid_index) in enumerate(kf.split(X_train, y_train)):
    print(f'fold{fold_ + 1} start')
    train_x = X_train.iloc[train_index]
    valid_x = X_train.iloc[valid_index]
    train_y = y_train[train_index]
    valid_y = y_train[valid_index]
    # lab.Datasetを使って,trainとvalidを作っておく
    lgb_train= lgb.Dataset(train_x, train_y)
    lgb_valid = lgb.Dataset(valid_x, valid_y)

    # パラメータを定義
    lgbm_params = {'objective': 'binary'}                                                                                               
          
    # 学習
    gbm = lgb.train(params = lgbm_params,
                    train_set = lgb_train, 
                    valid_sets = [lgb_train, lgb_valid],
                    early_stopping_rounds = 20,
                    verbose_eval = -1 # 学習の状況を表示しない
                   )

    oof = (gbm.predict(valid_x) > 0.5).astype(int)
    # oof = gbm.predict(valid_x)
    print('oof:', oof)
    # AUC算出
    # auc = metrics.auc(valid_y, oof)
    auc = roc_auc_score(valid_y, oof)
    score_list.append(auc) # スコアリストに保存
    # score_list.append(np.sqrt(mean_squared_error(valid_y, oof))) #RMSEを出す
    # score_list.append(round(accuracy_score(valid_y, oof)*100,2)) # 正解率Accuracyを出す。(検証用y, 予測結果)
    print('AUC:', score_list)
    models.append(gbm) # 学習が終わったモデルをリストに入れておく
    print(f'fold{fold_ + 1} end\n' )
    
    # FPR, TPR(, しきい値) を算出
    fpr, tpr, thresholds = metrics.roc_curve(valid_y, oof)
    
    # ROC曲線をプロット
    plt.plot(fpr, tpr, label='ROC curve (area = %.2f)'%auc)
    plt.legend()
    plt.title('ROC curve')
    plt.xlabel('False Positive Rate')
    plt.ylabel('True Positive Rate')
    plt.grid(True)

In [ ]:
print(score_list, '平均score', round(np.mean(score_list), 2))

In [ ]:
# 比較
# p = pd.DataFrame({"actual":valid_y,"pred":oof})
# p.plot(figsize=(15,4))
# print("AUC",round(np.mean(score_list), 2))

In [ ]:
# テストデータの予測を格納する。テストデータ列数*分割数列のnumpy行列を作成
test_pred = np.zeros((len(test), n_splits))

# 分割検証結果の平均を取る
for fold_, gbm in enumerate(models):
    pred_ = gbm.predict(test) # testを予測
    test_pred[:, fold_] = pred_

result = pd.DataFrame({
    'purchase_id': test.index.values,
    'probability': np.mean(test_pred, axis=1)
    # 'probability': (np.mean(test_pred, axis=1) > 0.5).astype(int)
})

# pred = (np.mean(test_pred, axis=1) > 0.5).astype(int)
# result['probability'] = pred
result.to_csv('../output/submit.csv',header=False,index=False)

In [ ]:
test_pred

In [ ]:
np.set_printoptions(threshold=np.inf)
print(pred_)

In [ ]:
import datetime
dt_now = datetime.datetime.now()
print(dt_now)
print("予測完了")

In [ ]:
import requests
import json

requests.post('https://hooks.slack.com/services/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', data = json.dumps({
    'text': u'PCメーカー:pythonスクリプト予測完了', # 投稿するテキスト
    'username': u'python', # 投稿のユーザー名
    'icon_emoji': u':snake:', # 投稿のプロフィール画像に入れる絵文字
    'link_names': 1, # メンションを有効にする
}))

In [ ]:
#import slackweb

#slack = slackweb.Slack(url="https://hooks.slack.com/services/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")
#slack.notify(text="PCメーカー　pythonスクリプト予測完了")